# API
API_SERVER=https://localhost:8844
WS_SERVER=ws://localhost:8844
API_KEY=123123

# APP
TITLE="Local Agent API"
PORT=8843

# LOG
LOG_DIR=logs
LOG_LEVEL=info

# SQLITE
DB_USERNAME=bas-agent
DB_PASSWORD=123456
