# API
API_SERVER=http://localhost:8844
WS_SERVER=ws://localhost:8844
API_KEY=change-me

# APP
TITLE="Local Agent API"
PORT=8843
AGENT_ID=agent-1

# LOG
LOG_DIR=logs
LOG_LEVEL=info

# SQLITE
SQLITE_PATH=data/agent.db
DB_USERNAME=bas-agent
DB_PASSWORD=change-me
