# API
API_KEY=change-me

# APP
TITLE="Remote Controller API"
PORT=8844
TEMPLATES_DIR=templates/server

# LOG
LOG_DIR=logs
LOG_LEVEL=info

# POSTGRES
PG_HOST=localhost
PG_PORT=5432
PG_DB=bas_manager
PG_USER=bas_manager
PG_PASSWORD=change-me

# USERS
ADMIN_EMAIL=admin@example.com
ADMIN_INIT_PASSWORD=change-me
ADMIN_INIT_API_KEY=
